.App {
  text-align: center; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px ;
  
}
.groceryCart{
  background-color: blueviolet;
  grid-column: 2;
  padding: 0 10px 20px ;
}
.groceryCart button{
  border-radius: 10%;
  background-color:burlywood;
  color: blue;
}